/* MOBILE AND GLOBAL STYLES */



body {
  background: #fcc;
  font-family: sans-serif;
  margin: 0;

}

#menuToggler {
  position: fixed;
  top: 1em;
  right: 1em;
  height:1em;
  width:1em;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.7):inherit;
  padding: 0.25em;
}
#menuToggler div {
  height: 20%;
  background:white;
}

#menuToggler.open + header nav{
  transform: translate(0);
}
header {
  min-height: 90px;
  flex-direction: column;
  text-align: center;
}

header nav {
  font-weight:bold;
  display:flex;
  flex-direction: column;
  align-items: stretch;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translate(100vw);
  transition: transform 0.7s;
  z-index: 10;
  padding-top: 3em;
  font-size: 2em;
}

header img{
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  width: 3em;
}
nav a {
   color: white;
   text-decoration: none;
   padding: 1em 0 ;
   letter-spacing: 0.75em;

}

nav a:hover {
    background-color: rgba(100, 30, 0, 0.7);
}

#slides section {
  display:none;
}
#slides section img {
  width:100%;
  overflow: hidden;
  position: absolute;
  z-index: -1;

}

#slides section.displayed{
  display:flex;
  flex-direction: column;
}


/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */

  body {
    background: #cfc;
  }
}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  body {
    background: #ccf;
  }
}
