/* MOBILE AND GLOBAL STYLES */
body {
  background-color: #0b0b0b;
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

header {
  min-height:  0px;
  flex-direction: column;
  text-align: center;
  position: fixed;
  z-index: 20;
  width:100vw;

}

header nav {
  font-weight:bold;
  display:flex;
  flex-direction: column;
  align-items: stretch;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translate(100vw);
  transition: transform 0.7s;
  z-index: -2;
  font-size: 2em;
}

header img{
  position: absolute;
  top: 15px;
  left: 35px;
  width: 50px;
  height: 50px;
  padding: 0;
}



.navwhite {
  background-color: white;
  height: 10vh;
}

.menublack {
  background:black;

}
.menuwhite {
  background:white;

}

.navitemblack {
  color:black;

}

nav a {
  font-family: 'Raleway', sans-serif;
  color: white;
  text-decoration: none;
  padding: 1em 0 ;
  letter-spacing: 0.45em;
}

nav a:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

#menuToggler {
  position: fixed;
  top: 25px;
  right:35px;
  height:1em;
  width:1em;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 24;
  background-color: rgba(0, 0, 0, 0.7):inherit;
  padding: 0.25em;
}

#menuToggler div {
  height: 20%;

}


#menuToggler.open + header nav {
  transform: translate(0);
  height:100vh;
}

#slides {
  height:100vh;
}

#slides section {
  display:none;
  color:white;
}

#slides section img {
  width:100%;
  height:100vh;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  user-select: none;
}

#slides section.displayed {
  display:flex;
  justify-content: center;

}

#slides h2 {
  margin-top: calc(50vh);
  margin-bottom: 0;
  font-size: 3em;
  text-align: center;
  width:84vw;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: 'Raleway', sans-serif;

}

#slidemanager {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 0;
  position: absolute;
  left: 90vw;
  top: 53vh;
  width:6vw;
  z-index:19;
}

#slidemanager div {
  height: 12px;
  width:12px;
  margin-bottom: 7px;
  border: 1px solid white;
}

.slideButtonLink{
  margin-top: calc(83vh);
  position:absolute;
}
.slideButton{
  background-color: red;
  height:50px;
  width:50px;
  border-width: 0px 3px 3px 0px;
  border-color: white;
  background-color: transparent;
  margin-bottom: 0;
  font-size: 3em;
  text-align: center;
  border-radius: 0;

}

#slidebutton4
{
    transform: rotate(45deg);
}
#slidebutton5, #slidebutton6
{
    transform: rotate(-45deg);
}
.slideButton:hover {
  border-bottom-width: 5px;
  border-right-width: 5px;
}
.buttontransparent {
  background-color: none;
}

.buttonwhite {
  background-color: white;
}

#itemstore, #yourItems {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  margin: 30px;
  grid-auto-flow: dense;
}
#yourItems {

  margin: 0px 30px 30px 30px;
  padding-top:100px;
}

.storeitem, .youritem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border:3px solid black;
  box-sizing:border-box;
  border-radius: 20px;
  background-color: #424242;
  font-weight: bold;
  color:#E8E8E8;

}

.storeitem:hover, .youritem:hover {
  transform:scale(1.03);
}
.storeitem h3, .youritem h3 {
  margin:4px;
  text-transform: uppercase;
  text-align: center;
  height: 40px;

}

.storeitem h4, .youritem h3{
  font-size: 0.7em;
  margin:5px;
  color: lightgrey;
}

.storeitem a, .youritem a , #clearButton, button{
  text-align: center;
  font-size: 1em;
  margin:5px;
  color: lightgrey;
  background-color: #388e3c;
  padding: 10px;
  text-decoration: none;
  letter-spacing: 2px;
  width:120px;
  border-radius: 5px;
  border: solid black 2px;
  box-shadow:0 5px 4px rgba(0,0,0,.5);
}


.storeitem a:last-child, #clearButton {
  background-color: #CE422B;
}



.storeitem p {
  margin:5px;
}

.storeitem img, .youritem img{
  align-self: center;
  width: 100%;
  height: auto;
  border-radius: 19px 19px 0px 0px ;

}

.introduction {
  grid-column: span 1;
  padding:40px;
  display: flex;
  justify-content: flex-start;
}


.introduction ul {
  padding: 0;
  margin:0;
}

.introduction ul li {
  display: flex;
  justify-content: space-between;
  padding-right: 10%;
}

.introduction ul li div {
  background:black;
  height: 12px;
  width: 12px;
  border: 3px solid white;
  border-radius: 20px;
  padding: 1px;
}


.searchbar {
  grid-column:  1/-1;
  display: flex;
  flex-direction: column;
  align-items: center;


}


.search input {
  width:69vw;
  height:25px;
  background:white;
  border-radius: 5px;
  margin-bottom: 20px;


}
::-webkit-input-placeholder {
  color:black;
  font-family: 'Raleway', sans-serif;
}
.search i {
  width:20px;
}
.searchbar h2 {
  font-size: 2em;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 0px;
}
.filter {
  padding-top: 50px;
}

.filter ul {
  display:flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
}

.filter h3 {
  height: 100px;
}

.hidden {
  display:none;
}


footer{
  background-color: white;
  height:auto;
  display:flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 30px;

}

footer img {
  height:150px;
  width:150px;
  padding: 40px;
  box-shadow:0 5px 4px rgba(0,0,0,.5);

}
footer ul {

  list-style-type: none;
}
footer h3{
  font-size: 20px;

}

.socialMedia h3{

  padding-left: 20px;
}

footer p {
  font-size: 15px;

}

.socialMedia ul {
  display: flex;
  padding:0px;
}

.socialMedia ul li{
  margin:5px;
}

.socialMedia ul li .fab{
  font-size:25px;
  line-height: 50px;
  color:black;
}

.socialMedia ul li a{
  position:relative;
  display:block;
  width:50px;
  height:50px;
  border-radius:50%;
  text-align: center;
  border:solid black;
  box-shadow:0 5px 4px rgba(0,0,0,.5);
}

.socialMedia ul li a:hover{
transform:translate(0, -10px);
}
.socialMedia ul li:first-child a{
  background-color: #4267B2;
}

.socialMedia ul li:nth-child(2) a{
  background-color: #1DA1F2;
}
.socialMedia ul li:last-child a{
  background-color: #C13584;
}

.socialmedia

#loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid black;
  border-radius: 50%;
  width:30px;
  height: 0px;
  animation: spin 2s linear infinite;
  opacity: 0;
  margin:10px;

}

#loader.waiting {
  opacity: 1;
  height: 30px;
}



@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  30% { opacity: 0; }
  100% { opacity: 1; }
}

#meta {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0;
}
/* applies to screens smaller than 476px (first breakpoint) */
/* and above unless overwritten below */

/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 500px */
  #menuToggler {
    display:none;
  }

  header nav {
    transform: translate(0);
    height:auto;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    background: none;
    margin-left:110px;
    margin-top: 20px;
    width:78vw;

  }

  nav a {
    color: white;
    text-decoration: none;
    padding:5px;
    letter-spacing:normal;
    font-size: 20px;

  }

  footer  {
    flex-direction: row;
  }
  footer img{
    padding:10px 10px 10px 10px ;
  }
  .slideButtonLink{
    margin-top: calc(65vh);
    position:absolute;
  }
}




@media screen and (min-width: 691px) {

  /* applies to screens wider than 691px */

  /* body {
  background: #cfc;
  } */

}

@media screen and (min-width: 907px) {

  /* applies to screens wider than 907px */

  /* body {
  background: #cfc;
  } */

}

/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  /* body {
  background: #ccf;
  } */
}
